@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
    --font-site: "Inter", sans-serif;
    --font-quote: "Playfair Display", serif;
    --color-bg-dark: oklch(5% 0 0);
    --color-bg: oklch(15% 0 0);
    --color-bg-light: oklch(25% 0 0);
    --color-secondary: oklch(100% 0 0 / 80);

    --color-text-light: oklch(92% 0 0);
    --color-text-dark: oklch(78% 0 0);
    --color-text-secondary: oklch(0% 0 0 / 90);

    --shadow-sm:
        inset 0 1px 2px oklch(100% 0 0 / 0.3),
        0 1px 2px oklch(0% 0 0 / 0.4),
        0 2px 4px oklch(0% 0 0 / 0.2);
    --shadow-md: inset 0 1px 2px oklch(100% 0 0 / 0.5), 0 2px 4px oklch(0% 0 0 / 0.4), 0 4px 6px oklch(0% 0 0 / 0.2);
    --shadow-lg: inset 0 1px 2px oklch(100% 0 0 / 0.7),
        0 4px 6px oklch(0% 0 0 / 0.4),
        0 6px 8px oklch(0% 0 0 / 0.2);
}

@layer components {
    .bento-grid {
        @apply grid gap-4;
        grid-template-areas:
            "hero hero"
            "hero hero"
            "top top"
            "center bottom";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1.5fr;

    }

    @media (min-width: 640px) {
        .bento-grid {
            @apply grid gap-4;
            grid-template-areas:
                "hero top top"
                "hero center bottom";
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr 1fr;
        }
    }



    .bento-hero {
        grid-area: hero;
    }

    .bento-top {
        grid-area: top;
    }

    .bento-bottom {
        grid-area: bottom;
    }

    .bento-center {
        grid-area: center;
    }

    .bento-card {
        @apply bg-bg rounded-lg shadow-sm transition-transform duration-300 hover:scale-95 p-4 lg:p-6;
    }

    .bento-container-icon {
        @apply p-3 bg-bg-light rounded-lg w-max shadow-sm
    }

    .bento-icon {
        @apply h-6 w-6 text-text-light md:h-8 md:w-8
    }
}

.light {
    --color-bg-dark: oklch(90% 0.008 240);
    --color-bg: oklch(93% 0.01 240);
    --color-bg-light: oklch(98% 0.006 240);
    --color-secondary: oklch(18% 0 0);

    --color-text-light: oklch(8% 0 0);
    --color-text-dark: oklch(35% 0 0);
    --color-text-secondary: oklch(92% 0 0);

}

html {
    scroll-behavior: smooth;
}