@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
    --font-site: "Inter", sans-serif;
    --font-quote: "Playfair Display", serif;
    --color-bg-dark: oklch(5% 0 0);
    --color-bg: oklch(15% 0 0);
    --color-bg-light: oklch(25% 0 0);

    --color-text-light: oklch(92% 0 0);
    --color-text-dark: oklch(78% 0 0);

    --shadow-sm:
        inset 0 1px 2px oklch(100% 0 0 / 0.3),
        0 1px 2px oklch(0% 0 0 / 0.4),
        0 2px 4px oklch(0% 0 0 / 0.2);
    --shadow-md: inset 0 1px 2px oklch(100% 0 0 / 0.5), 0 2px 4px oklch(0% 0 0 / 0.4), 0 4px 6px oklch(0% 0 0 / 0.2);
    --shadow-lg: inset 0 1px 2px oklch(100% 0 0 / 0.7),
        0 4px 6px oklch(0% 0 0 / 0.4),
        0 6px 8px oklch(0% 0 0 / 0.2);
}

.light {

    --color-bg-dark: oklch(80% 0 0);
    --color-bg: oklch(95% 0 0);
    --color-bg-light: oklch(100% 0 0);

    --color-text-light: oklch(8% 0 0);
    --color-text-dark: oklch(35% 0 0);

}